@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #000c2d;
  --color-accent: #e30613;
}

/* Сброс стилей для всего сайта */
body {
  background-color: #f2f5f7;
  color: #000c2d;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Красивый скроллбар */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}